{{#with story}}
    <div class="nav">
        <div class="contents">
            <h3>My Journal</h3>
        </div>
        <div class="links">
            <a href="/my.diary.com/stories/compose/editSection{{_id}}">
                <div>
                    <i class="material-icons">edit</i>
                </div>
            </a>
            <span valueId = {{_id}} class="delete" style="cursor: pointer;">
                <div>
                    <i style="color: rgb(241, 57, 24);"  class="material-icons">delete</i>
                </div>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="expanded-content">
            <div class="content-title">
                <h3 class="inner-content">{{title}}</h3>
            </div>
            <div class="content-body">
                <p class="inner-content-body">{{body}}</p>
            </div>
            <a href="/my.diary.com/">
                <div style="padding-left: 50px; padding-right: 50px;" class="back btn btn-primary">
                    Back
                </div>
            </a>
        </div>
    </div>
{{/with}}
<div class="two-main">
    <div class="two">
        <div class="group">
            <h3 class="confirmation-header">Are You Sure You Want To Permanently Delete This Story?</h3>
            <p style="font-size: large;">You Can't Undo This Action</p>
        </div>
        <div class="confirmation-buttons">
            <div class="cancel">
                <div style="padding-left: 50px;
                    padding-right : 50px" class="button btn btn-secondary">
                        Cancel
                </div>
            </div>
            <div class="delete-confirmed">
                <form class="delete-form" action="", method="POST">
                    <input type="hidden" name="_request" value="DELETE">
                    <input type="submit" style="padding-left: 50px;
                    padding-right : 50px" class="button btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
